<!---Andy-->

<!DOCTYPE html>
<html>
        

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/main.css">

</head>

<body class="custom-padding">


    <div class="custom-navbar">
        <div class="row">
            <div style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;">
                <div>
                    <h2 style="font-weight: 700;">Brazilian Pão de queijo: The staple cheese bread </h2>
                </div>
                <div style="display: flex; align-items: center; justify-content: end;">
                    <a href="../main.html">

                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            class="bi bi-house-fill" viewBox="0 0 16 16">
                            <path
                                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
                            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                        </svg>
                    </a>
                </div>
            </div>


        </div>
    </div>
    <div class="custom-height d-flex-inline-slideshow">

        <div class="slideshow-container">
            <div class="mySlides fade " style="display: flex; background-image: url('../images/cheese/queso1.jpg');">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

                <div>
                    <div style="display: flex; background-image: url('../images/cheese/queso1.jpg');">
                        <div>
                            <img src="../images/cheese/queso1.jpg" alt="Capoeira" class="justify-items:center">

                        </div>
                        <div class="d-flex-inline-description">
                            <div class="d-flex-inline-description-text-box">
                                <div>
                                    <h2 style="margin-top: 0%;">What are the main ingredients?</h2>

                                </div>

                                <p style="margin-bottom: 5%;">
                                    Pão de queijo is a popular
                                     Brazilian snack made of cassava flour, eggs, cheese, milk, and oil.                                </p>


                            </div>
                        </div>
                    </div>
                </div>
        

                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <div class="mySlides fade " style="display: flex; background-image: url('../images/cheese/queso2.webp');">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

                <div>
                    <div style="display: flex; background-image: url('../images/cheese/queso2.webp');">
                        <div>
                            <img src="../images/cheese/queso2.webp" alt="Capoeira" class="justify-items:center">

                        </div>
                        <div class="d-flex-inline-description">
                            <div class="d-flex-inline-description-text-box">
                                <div>
                                    <h2 style="margin-top: 0%;">How was it created?</h2>

                                </div>

                                <p style="margin-bottom: 5%;">
                                    The history of Pão de queijo dates back to the 18th century in
                                    the state of Minas Gerais, Brazil, where it was originally made by 
                                    African slaves who used cassava flour as a substitute for wheat flour.
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
        

                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <div class="mySlides fade " style="display: flex; background-image: url('../images/c');">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

                <div>
                    <div style="display: flex; background-image: url('../images/cheese/queso3.jpg');">
                        <div>
                            <img src="../images/cheese/queso3.jpg" alt="Capoeira" class="justify-items:center">

                        </div>
                        <div class="d-flex-inline-description">
                            <div class="d-flex-inline-description-text-box">
                                <div>
                                    <h2 style="margin-top: 0%;">When should you have it?</h2>

                                </div>

                                <p style="margin-bottom: 5%;">
                                    You can find it being used in all meals. It is commonly served in
                                     cafes, bakeries, and restaurants, as well as at home, where it is often made from
                                     scratch using family recipes passed down through generations.
                                </p>


                            </div>
                        </div>
                    </div>
                </div>

                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>



    </div>


        

    <script>
        
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            const slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }

            slides[slideIndex - 1].style.display = "block";
        }
    </script>
</body>
<footer>
    <div class="custom-footer">
        <div style="display: flex;">
            <h3 style="font-weight: 700;">CS220-01:: Winter 2023:: Prove 1: Group Project:: Rondinele & Andy 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-c-circle" viewBox="0 0 16 16">
                    <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z"/>
                  </svg>
                  
                
            </h3>
        </div>
    </div>
</footer>

</html>