<!---Main Page-->

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/main.css">

</head>

<body>


    <div class="about-section">
        <h1>Brazil: A mixing of different cultures and traditions</h1>
    </div>



    <div class="row" style="margin-top: 3%;">


        <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="card">
                    <img src="images/Brazilian-Art1.jpg" alt="Capoeira" style="width:100%">
                    <div class="container">
                        <h2>Martial Ar Capoeira</h2>

                        <p>I love Capoeira. It is a martial art that has centures of existence. It was brought by
                            Africans
                            during the last milenium and was adapted and incorporated to Brazil culture</p>
                        <p>rondinel@ensign.edu</p>
                        <p><button class="button"><a href="https://capoeirahistory.com/">Capoeira Info</a></button></p>
                    </div>
                </div>
            </div>
            <div class="mySlides fade">
                <div class="card">
                    <img src="images/Brazilian-Art.jpg" alt="Capoeira" style="width:100%">
                    <div class="container">
                        <h2>Martial Art Capoeira</h2>

                        <p>I love Capoeira. It is a martial art that has centures of existence. It was brought by
                            Africans
                            during the last milenium and was adapted and incorporated to Brazil culture</p>
                        <p>rondinel@ensign.edu</p>
                        <p><button class="button"><a href="https://capoeirahistory.com/">Capoeira Info</a></button></p>
                    </div>
                </div>
            </div>
            <div class="mySlides fade">
                <div class="card">
                    <img src="images/Brazilian-Art1.jpg" alt="Capoeira" style="width:100%">
                    <div class="container">
                        <h2>Martial Art Capoeira</h2>

                        <p>I love Capoeira. It is a martial art that has centures of existence. It was brought by
                            Africans
                            during the last milenium and was adapted and incorporated to Brazil culture</p>
                        <p>rondinel@ensign.edu</p>
                        <p><button class="button"><a href="https://capoeirahistory.com/">Capoeira Info</a></button></p>
                    </div>
                </div>
            </div>
            <div class="mySlides fade">
                <div class="card">
                    <img src="images/Brazilian-Art.jpg" alt="Capoeira" style="width:100%">
                    <div class="container">
                        <h2>Martial Art Capoeira</h2>

                        <p>I love Capoeira. It is a martial art that has centures of existence. It was brought by
                            Africans
                            during the last milenium and was adapted and incorporated to Brazil culture</p>
                        <p>rondinel@ensign.edu</p>
                        <p><button class="button"><a href="https://capoeirahistory.com/">Capoeira Info</a></button></p>
                    </div>
                </div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        </div>

        <script>
            let slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                let i;
                const slides = document.getElementsByClassName("mySlides");
                const dots = document.getElementsByClassName("dot");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
            }
        </script>
</body>

</html>